<div style="text-align: center">

    <div class="eeunn_header_lodo">
        <h1>eeunn2</h1>
    </div>
    <div class="eeunn_header_bottom">
        <Span>nav1</Span>
        <span>nav2</span>

        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                LOGIN
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                SIGNUP
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                MYPAGE
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                LOGOUT
            </a>
        </span>
        {% endif %}
    </div>
</div>

